* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

body {
    background: #333;
}

#wrapper {
    width: 80%;
    max-width: 1700px;
    /*background: #666;*/
    margin: 0 auto;
}

#header {
    background: #ffbb00;
    height: 80px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#header-avatar-container {
    background: #fff;
    width: 64px;
    height: 64px;
    border-radius: 10px;
    margin-right: 8px;
    align-self: center;
    margin-left: auto;
}

#navbar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-button {
    background: #fff;
    width: 130px;
    height: 30px;
    border-radius: 5px;
}

.nav-button-text {
    text-align: center;
    line-height: 30px;
}

/* todo: Сделать адаптивным навбар*/