* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

html {
    font-size: 100%;
}

body {
    background: #333;
}

#wrapper {
    width: 80%;
    max-width: 1700px;
    /*background: #666;*/
    margin: 0 auto;
}

#header {
    background: #ffbb00;
    height: 80px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

#header-avatar-container {
    background: #fff;
    width: 64px;
    height: 64px;
    border-radius: 10px;
    margin-right: 8px;
    align-self: center;
    margin-left: auto;
}

#navbar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.nav-button {
    background: #fff;
    height: 2.5vw;
    max-height: 50px;
    width: 100%;
    border-radius: 5px;
}

.nav-button:not(:last-child) {
    margin-right: 10px;
}

.nav-button-text {
    text-align: center;
    line-height: 2.5vw;
    font-size: calc(0.7rem + 0.5vw);
    white-space: nowrap;
}