{% load static %}
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'main/css/style.css' %}" rel="stylesheet">
    {% block link_style %}{% endblock %}
    <link rel="stylesheet" href="{% static 'main/fonts/Comfortaa-Bold.ttf' %}">
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="header-avatar-container">
        </div>
    </div>
    <div id="navbar">
        <div class="nav-button">
            <p class="nav-button-text">

            </p>
        </div>
        <div class="nav-button">
            <p class="nav-button-text"></p>
        </div>
        <div class="nav-button">
            <p class="nav-button-text"></p>
        </div>
        <div class="nav-button">
            <p class="nav-button-text"></p>
        </div>
        <div class="nav-button">
            <p class="nav-button-text"></p>
        </div>
    </div>
</div>
</body>
</html>